blockquote {
  font-style: normal;
}

.post-list {
  li {
    margin-bottom: 4px;

    .post-link {
      display: inline-block;
      @include relative-font-size(1);
    }

    .post-meta {
      display: inline-block;
      width: 220px;
    }
  }
}
